.footer {
    color: var(--color-bg);
    padding-top: 70px;
    padding-bottom: 40px;
    position: relative;
    box-shadow: 0 -8px 16px rgba(0, 0, 0, .1);
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: var(--color-bg);
    mask-image: url("../../media/images/ripped-edge-top.png");
    -webkit-mask-image: url("../../media/images/ripped-edge-top.png");
    mask-size: 100% auto;
    -webkit-mask-size: 100% auto;
    mask-position: bottom center;
    -webkit-mask-position: bottom center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    transform: scaleY(-1);
    pointer-events: none;
}

.footer p {
    color: var(--color-bg);
    margin: 0;
}

.footer h2 {
    font-size: 36px;
}

.footerSocials {
    margin-top: 20px;
}

.socialIcon {
    width: 35px;
    height: 35px;
    display: block;
}
