@import url("https://use.typekit.net/rlp0lka.css");
@import url("https://use.typekit.net/ulh6dsl.css");

@font-face {
  font-family: "Magnolia MVB";
  src: url("./media/fonts/MagnoliaMVBStd-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Giovanni";
  src: url("./media/fonts/GiovanniStd-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Giovanni";
  src: url("./media/fonts/GiovanniStd-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Giovanni";
  src: url("./media/fonts/GiovanniStd-BookItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ITC Giovanni";
  src: url("./media/fonts/GiovanniStd-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* CSS Variables */
:root {
  --color-bg: black;
  --color-fg: white;
  --color-secondary: #757575;
  --color-red: #db2c2c;
  --color-secondary-dark: rgba(198, 198, 198, 0.8);
  --font-display: "Magnolia MVB", serif;
  /*--font-body: "legitima", serif;*/
  --font-body: "ITC Giovanni", serif;
}

::selection {
  background-color: red;
  color: var(--color-fg);
}

/* Reset Styles */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: var(--color-fg);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}

/* Typography */

.titleFont {
  font-family: var(--font-display);
}

h1 {
  font-family: var(--font-display);
  font-size: 120px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

p {
  /*color: var(--color-secondary);*/
  color: var(--color-red);
  font-size: 20px;
}

hr {
  border: none;
  border-top: 1px solid var(--color-secondary-dark);
  margin: 0;
}

.bold {
  font-weight: bold !important;
}

/* Layout */

.container {
  width: 100%;
  padding: 50px max(50px, calc((100vw - 1200px) / 2));
}

.containerFull {
  padding: 20px;
}

.imageContainer {
  padding: 0 15px 15px 15px;
}

/* Utilities */

hr {
  border: solid .1px black;
  margin: 30px 0;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.p20 {
  font-size: 20px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.margin0 {
  margin: 0 !important;
}

.marginBottom {
  margin-bottom: 20px !important;
}

.image100 {
  width: 100%;
}

.minorHeadline {
  font-size: 48px;
  line-height: 55px;
  font-weight: 600;
}

.grayText {
  color: var(--color-secondary);
}

.redText {
  color: var(--color-red);
}

.invertedColors {
  color: var(--color-secondary-dark);
  background-color: var(--color-fg);
}


