.homeGameplay {
    position: relative;
    overflow: hidden;
    margin: 100px 0;
}

.homeGameplay::after {
    content: "";
    position: absolute;
    bottom: -60px;
    right: -40px;
    width: 450px;
    height: 350px;
    background: url("../../media/images/bloodsplatter.png") no-repeat center;
    background-size: contain;
    opacity: 0.35;
    pointer-events: none;
    transform: rotate(90deg);
}